body{
  background-color: #000;
}

i.icon-orange {
    color: orange;
}

#saleContainer{
  color:#fff;
}

#menu-button {
  top:23px;
  right:23px;
}

.game-img {
  height:75px;
  width: 125px;

}

.game-description {
  margin:0;

}

#data-body {
    background: #051D44; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#051D44, #385583); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#051D44, #385583); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#051D44, #385583); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#051D44, #385583); /* Standard syntax */
}

.header-section {
    color: #FFF;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    text-align: center;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);}

#game-details {
  background-color: #000;
  color: #fff;
}
.collapsible-header{
  position:relative;
}
.hover-box{
  z-index: 50;
  padding: 10px 10px 10px 10px;
  position:absolute;
  right:-150px;
  max-width:300px;
  top:-20px;
  background-color:#000;
 
  display:none;
  border: 2px solid #80deea;
    border-radius: 5px;
}

#saleContainer > ul > li{
  margin:0;
}

#slide-out li>a {
  color: #fff;
}
#query-pagination {
  color: #80deea;
}


#game_name_search {
  color:#80deea;
}

#note-save {
  margin-right:20px;
}

